
.topnav {
    background-color: #000202;
    overflow: hidden;
  }
  
  
.topnav a {

    text-align: center;
    padding: 14px 16px;
    float: right;
    color: white;
    font-size: 17px;
}

  
.topnav a:hover {
    background-color:#ddd;
    color: black;
}
  
.topnav a.active {
    background-color: black;
    color: white;
}
input[type=text], textarea {
    width: 99%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    margin-top: 6px; 
    margin-bottom: 16px; 
   resize: none;

  
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color:grey;
}
  

.container {
    border-radius: 5px;
    background-color:rgb(255, 255, 255);
    padding: 50px;
    margin-right: 50px;
    
}

img {
    float: left;
    margin-right:20px;
}

  
p { 
    color: #777777;
    background-color: lavender; 
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.home{
        margin:0 auto; 
        text-align: left;
        align-self: center;
        background-color: lightgrey;
        width: 960px;
        border: 20px solid lavender;
        padding: 100px;
        margin: 150px;
        line-height: 1.5;
        
}
head{
  font-family: 'Georgia', Times, 'Times New Roman',serif;
  
  
}
hr{
    display: block;
    border-width: 3px;
    color: black;
    border-color:black;

}
.port1{
    float: left;
    width: 350px;
    border: 2px;
    border-color: black;
    background-color: black;
    text: white;
    height: 250px;
    text-align: center;

}
.port2{
    float: right;
    width: 350px;
    border: 2px;
    border-color: black;
    background-color: black;
    text: white;
    height: 250px;
    text-align: center;

}
.port3{
    float: center 
    width: 350px;
    border: 2px;
    border-color: black;
    background-color: black;
    text: white;
    height: 250px;
    text-align: center;
}